html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 70px;
	font-family: 'Roboto', sans-serif;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 20px;
	vertical-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
body > .container {
	padding: 70px 15px 0;
}
p {
	margin-top: 20px;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
.container.gallery-container {
	background-color: #FFFFFF;
	color: #35373A;
	min-height: 100vh;
	border-radius: 20px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}
.photo-gallery {
	margin-top: 20px;
}
.photo-gallery .lightbox img {
	width: 100%;
	margin-bottom: 20px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.photo-gallery .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.baguetteBox-button {
	background-color: transparent !important;
}